@page "/datadetail/{Id:long}"

<h3>@("Détail des parties du joueur "+ CurrentPlayer.NickName +" :")</h3>


<CustomChartStatistic Title=@("Graphique des parties de "+CurrentPlayer.NickName) Subtitle="Evolution du score des parties au cours du temps" YAxisName="Nombre de points" XAxisName="Date" Data="@(CurrentPlayer.Games)"></CustomChartStatistic>

