@page "/editdata"
<figure class="highcharts-figure">
    <div id="container"></div>
</figure>

<div class="card m-3">
    <div class="card-body">
        <h4 class="card-title p-2">Modification du joueur n°XXX :</h4>
        <div class="d-grid gap-3 p-2 m-2">
            <div>
                <div >Nom:</div>
                <input class="form-control" />
            </div>
            <div>
                <div >Prénom:</div>
                <input class="form-control" />
            </div>
            <div>
                <div >Pseudo:</div>
                <input class="form-control" />
            </div>
        </div>

        <button class="btn btn-primary mt-3">Valider</button>
        <button class="btn btn-danger float-right mt-3">Annuler</button>
    </div>


</div>

@code {

}
