@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row">
            <a href="/">
                <img style="height:3rem; width:auto; cursor:pointer;" src="/images/logo.png"/>
            </a>
            <div style="display: table; vertical-align:middle; height: 100%;margin-left:1rem;">
               <p class="h1" style="display:table-cell; vertical-align:middle;">TarotScorer</p>
            </div>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
