<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target
		  xsi:type="Network"
		  name="LogitTarget"
		  address="tcp://your-logstash-host:your-port"
		  newLine="True">
			<layout type="JsonLayout" includeAllProperties="true">
				<attribute name="timestamp" layout="${longdate}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="machinename" layout="${machinename}" />
				<attribute name="threadid" layout="${threadid}" />
				<attribute name="level" layout="${level}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception}" />
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="LogitTarget" />
	</rules>
</nlog>